## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) Seu código aqui

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  8
pc_qui = df_qui /  8

In [3]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [4]:
# 3) Seu código aqui
total/90

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [5]:
# 4) Seu código aqui
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
# seu código aqui
df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [7]:
# quantidades de alunos desqualificados
qtd_desqualificados = df_eliminados.count()
qtd_desqualificados

Qt_acertos    23
dtype: int64

In [8]:
df_eliminados.columns

Index(['Qt_acertos'], dtype='object')

In [121]:
# Média dos alunos desqualificados em história e geografia (não estou conseguindo fazer)
Média_desqualificados_geo = df_eliminados.loc[(df_geo['Qt_acertos'])

SyntaxError: incomplete input (1885682043.py, line 2)

In [10]:
#Qual a média desses alunos em história e geografia?
geo = df_geo.mean()
print(f'A média em geografia é {geo}.')
hist = df_his.mean()
print(f'A média em história é {hist}.')

A média em geografia é Qt_acertos    3.36
dtype: float64.
A média em história é Qt_acertos    3.6
dtype: float64.

In [48]:
# alunos não desqualificados com nota de corte acima de 45
df_passou = total[(df_mat['Qt_acertos'] != 0) &
                          (df_fis['Qt_acertos'] != 0) &
                          (df_qui['Qt_acertos'] != 0) &
                          (total['Qt_acertos'] > 45)]
                            
df_passou

    Qt_acertos
1           48
2           50
5           50
7           49
8           58
17          52
18          50
24          50
31          54
36          56
37          52
39          49
40          47
42          48
45          48
48          55
60          48
62          46
67          46
70          62
71          53
77          53
78          66
81          55
88          50
93          56

In [49]:
df_passou.count()

Qt_acertos    26
dtype: int64

## Realizei do meu jeito pois não estava conseguindo fazer

In [130]:
# desta forma não estou conseguindo resolver o exercício 3 do vestibular 2 dito isso vou fazer do meu jeito.(fazendo do meu jeito)
dataframes = [df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui]
df = pd.concat(dataframes, axis =1)

Index(['Qt_acertos', 'Qt_acertos', 'Qt_acertos', 'Qt_acertos', 'Qt_acertos',
       'Qt_acertos', 'Qt_acertos'],
      dtype='object')

In [134]:
#As colunas ficaram todos com os mesmo nomes (fazendo do meu jeito)
colunas = ['Qt_acertos_mat', 'Qt_acertos_por', 'Qt_acertos_geo', 'Qt_acertos_ing', 'Qt_acertos_his',
       'Qt_acertos_fis', 'Qt_acertos_qui']
df.columns = colunas

In [135]:
#verificando se alterou os nomes das colunas (fazendo do meu jeito)
df.head()

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui
0,6,7,7,3,1,8,3
1,19,10,0,0,0,11,8
2,14,16,0,5,7,4,4
3,10,7,3,4,0,0,8
4,7,2,2,7,0,9,3

In [140]:
# porcentagem de acerto de cada matéria (fazendo do meu jeito)
df['pc_mat'] = df['Qt_acertos_mat']/ 24
df['pc_por']= df['Qt_acertos_por'] / 18
df['pc_geo'] = df['Qt_acertos_geo'] /  8
df['pc_ing'] = df['Qt_acertos_ing'] /  8
df['pc_his'] = df['Qt_acertos_his'] /  8
df['pc_fis'] = df['Qt_acertos_fis'] /  8
df['pc_qui'] = df['Qt_acertos_qui']/  8

In [141]:
# verificando (fazendo do meu jeito)
df.head()

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,pc_mat,pc_por,pc_geo,pc_ing,pc_his,pc_fis,pc_qui
0,6,7,7,3,1,8,3,0.250000,0.388889,0.875,0.375,0.125,1.000,0.375
1,19,10,0,0,0,11,8,0.791667,0.555556,0.000,0.000,0.000,1.375,1.000
2,14,16,0,5,7,4,4,0.583333,0.888889,0.000,0.625,0.875,0.500,0.500
3,10,7,3,4,0,0,8,0.416667,0.388889,0.375,0.500,0.000,0.000,1.000
4,7,2,2,7,0,9,3,0.291667,0.111111,0.250,0.875,0.000,1.125,0.375

In [146]:
# criando uma coluna de total e calculando o total (fazendo do meu jeito)
df['total'] =  df['Qt_acertos_mat'] + df['Qt_acertos_por'] + df['Qt_acertos_geo'] + df['Qt_acertos_ing'] + df['Qt_acertos_his'] + df['Qt_acertos_fis'] + df['Qt_acertos_qui']

In [147]:
# porcentagem geral de cada aluno(a) (fazendo do meu jeito)
df['total']/90

0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
        ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667
Name: total, Length: 100, dtype: float64

In [151]:
# total maior que 45 
total_maior_45 = df.loc[df['total'] > 45]
total_maior_45['total'].count()

31

# Parte 2

In [156]:
# alunos que zeraram em matemática, física e química (fazendo do meu jeito)
alunos_eliminados = df[(df['Qt_acertos_mat'] == 0) | 
                       (df['Qt_acertos_fis'] == 0) |
                       (df['Qt_acertos_qui'] == 0)]
alunos_eliminados

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,pc_mat,pc_por,pc_geo,pc_ing,pc_his,pc_fis,pc_qui,total
3,10,7,3,4,0,0,8,0.416667,0.388889,0.375,0.500,0.000,0.000,1.000,32
6,6,0,7,7,5,0,4,0.250000,0.000000,0.875,0.875,0.625,0.000,0.500,29
10,10,8,3,2,1,7,0,0.416667,0.444444,0.375,0.250,0.125,0.875,0.000,31
12,20,8,3,7,1,0,3,0.833333,0.444444,0.375,0.875,0.125,0.000,0.375,42
14,7,11,1,7,1,4,0,0.291667,0.611111,0.125,0.875,0.125,0.500,0.000,31
20,23,11,6,5,6,2,0,0.958333,0.611111,0.750,0.625,0.750,0.250,0.000,53
25,0,4,7,4,0,4,8,0.000000,0.222222,0.875,0.500,0.000,0.500,1.000,27
26,11,14,6,2,7,0,0,0.458333,0.777778,0.750,0.250,0.875,0.000,0.000,40
27,21,13,1,5,7,3,0,0.875000,0.722222,0.125,0.625,0.875,0.375,0.000,50
33,14,8,0,5,6,6,0,0.583333,0.444444,0.000,0.625,0.750,0.750,0.000,39
35,11,14,6,3,3,0,11,0.458333,0.777778,0.750,0.375,0.375,0.000,1.375,48
49,8,1,1,0,1,0,8,0.333333,0.055556,0.125,0.000,0.125,0.000,1.000,19
56,7,6,7,5,6,0,8,0.291667,0.333333,0.875,0.625,0.750,0.000,1.000,39
65,1,8,2,4,3,0,6,0.041667,0.444444,0.250,0.500,0.375,0.000,0.750,24
66,5,4,3,6,3,0,10,0.208333,0.222222,0.375,0.750,0.375,0.000,1.250,31
72,11,16,3,4,7,0,9,0.458333,0.888889,0.375,0.500,0.875,0.000,1.125,50
73,1,16,2,4,3,0,11,0.041667,0.888889,0.250,0.500,0.375,0.000,1.375,37
74,9,11,0,7,5,7,0,0.375000,0.611111,0.000,0.875,0.625,0.875,0.000,39
84,15,1,0,5,1,0,4,0.625000,0.055556,0.000,0.625,0.125,0.000,0.500,26
89,23,11,7,7,6,9,0,0.958333,0.611111,0.875,0.875,0.750,1.125,0.000,63
92,14,10,1,6,1,8,0,0.583333,0.555556,0.125,0.750,0.125,1.000,0.000,40
94,0,5,2,6,1,3,8,0.000000,0.277778,0.250,0.750,0.125,0.375,1.000,25
98,0,10,3,1,5,10,11,0.000000,0.555556,0.375,0.125,0.625,1.250,1.375,40

In [160]:
#média dos alunos em geografia e historia minha invenção (fazendo do meu jeito)
media_historia_eliminado = alunos_eliminados['Qt_acertos_his'].mean()
media_geografia_eliminado = alunos_eliminados['Qt_acertos_geo'].mean()
print(media_historia_eliminado, media_geografia_eliminado)

3.4347826086956523 3.217391304347826

In [162]:
#alunos que passaram para segunda fase (fazendo do meu jeito)
alunos_nao_desclassificados = df[(df['Qt_acertos_mat'] != 0) &
                       (df['Qt_acertos_fis'] != 0) &
                       (df['Qt_acertos_qui'] != 0) & (df['total'] > 45)]
alunos_nao_desclassificados

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,pc_mat,pc_por,pc_geo,pc_ing,pc_his,pc_fis,pc_qui,total
1,19,10,0,0,0,11,8,0.791667,0.555556,0.000,0.000,0.000,1.375,1.000,48
2,14,16,0,5,7,4,4,0.583333,0.888889,0.000,0.625,0.875,0.500,0.500,50
5,20,2,5,3,2,9,9,0.833333,0.111111,0.625,0.375,0.250,1.125,1.125,50
7,18,4,4,7,7,1,8,0.750000,0.222222,0.500,0.875,0.875,0.125,1.000,49
8,22,9,2,7,6,5,7,0.916667,0.500000,0.250,0.875,0.750,0.625,0.875,58
17,21,15,2,2,4,2,6,0.875000,0.833333,0.250,0.250,0.500,0.250,0.750,52
18,20,4,3,5,3,11,4,0.833333,0.222222,0.375,0.625,0.375,1.375,0.500,50
24,20,2,7,5,3,11,2,0.833333,0.111111,0.875,0.625,0.375,1.375,0.250,50
31,15,13,3,1,3,9,10,0.625000,0.722222,0.375,0.125,0.375,1.125,1.250,54
36,22,9,6,6,1,4,8,0.916667,0.500000,0.750,0.750,0.125,0.500,1.000,56
37,19,12,5,7,1,6,2,0.791667,0.666667,0.625,0.875,0.125,0.750,0.250,52
39,4,16,2,4,6,9,8,0.166667,0.888889,0.250,0.500,0.750,1.125,1.000,49
40,18,3,6,3,6,5,6,0.750000,0.166667,0.750,0.375,0.750,0.625,0.750,47
42,20,6,7,7,2,3,3,0.833333,0.333333,0.875,0.875,0.250,0.375,0.375,48
45,17,10,0,2,6,9,4,0.708333,0.555556,0.000,0.250,0.750,1.125,0.500,48
48,17,6,0,7,5,9,11,0.708333,0.333333,0.000,0.875,0.625,1.125,1.375,55
60,16,8,0,4,4,7,9,0.666667,0.444444,0.000,0.500,0.500,0.875,1.125,48
62,17,6,2,4,7,1,9,0.708333,0.333333,0.250,0.500,0.875,0.125,1.125,46
67,21,0,7,2,4,2,10,0.875000,0.000000,0.875,0.250,0.500,0.250,1.250,46
70,21,14,0,3,5,11,8,0.875000,0.777778,0.000,0.375,0.625,1.375,1.000,62
71,17,8,7,6,4,2,9,0.708333,0.444444,0.875,0.750,0.500,0.250,1.125,53
77,15,2,5,7,6,11,7,0.625000,0.111111,0.625,0.875,0.750,1.375,0.875,53
78,14,16,7,2,7,11,9,0.583333,0.888889,0.875,0.250,0.875,1.375,1.125,66
81,22,16,2,0,4,1,10,0.916667,0.888889,0.250,0.000,0.500,0.125,1.250,55
88,20,1,1,5,7,9,7,0.833333,0.055556,0.125,0.625,0.875,1.125,0.875,50
93,12,16,5,5,6,6,6,0.500000,0.888889,0.625,0.625,0.750,0.750,0.750,56

In [164]:
#quantidades de alunos para segunda fase (fazendo do meu ejito)
alunos_nao_desclassificados['total'].count()

26

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? O
zBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [82]:
arquivo = ''

In [86]:
# 1) Sua solução aqui
df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')

In [87]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
0,b19cd280-474c-4c22-a35d-8c06bc04a4e0-i0b0,2e091c9a37d3f50d1d705fc80c6448c6fc69b44da9e936...,69,1951-12-28,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,210052A,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-23,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-25T03:27:19.000Z,NaN
1,a1acc0b6-1cf6-4c4b-adcb-06b473a0faaf-i0b0,f4e17a9e5354cb45e223d85eda02fb2f76048c801675f5...,81,1939-11-22,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,210110,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-29,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-30T16:03:14.000Z,NaN
2,af279a98-ba1f-47ea-8214-314a98040b0d-i0b0,6734b26bccf826130ebffa66575977bbe71477b12bcf42...,69,1951-08-14,M,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,210135,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-16,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-16T15:54:39.000Z,NaN
3,4879308e-5050-46bb-b8e2-11fa5646a05c-i0b0,84a341fd350c1ba7117fccbb4d2df417bc0fac0fffac37...,51,1969-12-15,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,202010040,FUNDACAO BUTANTAN,Organization/61189445000156,2021-02-19,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-10T14:40:54.000Z,NaN
4,000e911b-e3a4-4114-a735-d1f2e6e3797f-i0b0,c59571e19f368d4b0cf08cd3bcabb32e5cd8baad5340f6...,65,1955-11-21,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,212VCD001ZVB,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-03-29,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-04-03T19:44:28.000Z,NaN

In [88]:
df.shape[0]

169071

In [90]:
# 2) 
df['paciente_id'].nunique()

120517

In [91]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

119713

In [110]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

119713

In [97]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

47

In [111]:
# 5)
df['estabelecimento_razaosocial'].nunique()

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [113]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [114]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [115]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: vacina_categoria_nome, dtype: int64

In [116]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [117]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(18, 6)